.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search {
  width: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-bottom: 48px;
}
.SearchSpan {
  width: 15%;
  border: 1px solid #1c76d2;
  background: #1c76d2;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

.SearchSpan svg {
  fill: white;
  width: 32px;
}

.SearchInput {
  width: 85%;
  border: 3px solid #1c76d2;
  border-left: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  outline: none;
}
